//-
 * nuclides.pug -- Compose the nuclides page
 *
 * Copyright (C) 2016 Michael Seibt
 *
 * With contributions from: -
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.

extends ./common/layout.pug

include ./common/sections.pug
include ./common/toc.pug

block nav
  -var selected = 'Nuclides';

block title
  | Kodistrap

block content
  .SG-row
    .SG-gr-12
      .SG-h1 Kodistrap

  .SG-row
    .SG-gr-6
      .SG-h3 Table of content
    .SG-gr-6
      .SG-h3 This is Kodistrap

  .SG-row
    .SG-gr-6.SG-toc
      +toc(styles.Nuclides)
    .SG-gr-6
      p.SG-p.
        Kodistrap its a collection of style components based on some bootstrap components.
      a.SG-p(href='http://getbootstrap.com/css/#grid-intro').
        Grid System DOC
      a.SG-p(href='http://getbootstrap.com/css/#forms').
        Forms system DOC

  if meta.demo
    include ./common/demo.pug

  if styles.Nuclides
    +section-second-level(styles.Nuclides)
